rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /users/{userId} {
      allow create; // Anyone can create a user document during signup
      allow read, update, delete: if request.auth.uid == userId; // Only the user can manage their own document
    }

    match /calls/{callId} {
      // Allow create if user is authenticated
      allow create: if request.auth.uid != null;
      
      // Allow read, update, delete if the user is a participant in the call
      allow read, update, delete: if request.auth.uid in resource.data.participants;
      
      match /messages/{messageId} {
        // Allow read and create if the user is a participant in the call
        allow read, create: if request.auth.uid in get(/databases/$(database)/documents/calls/$(callId)).data.participants;
      }
    }

    match /reports/{reportId} {
      // Users can create reports
      allow create: if request.auth.uid != null;
      
      // Admins can read/write/delete reports
      allow read, update, delete: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
  }
}
