rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth.uid != null;
      allow create: if request.auth.uid != null;
      allow update: if request.auth.uid == userId;
    }

    match /reports/{reportId} {
      allow create: if request.auth.uid != null;
      // Only admins can read reports
      allow read, write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /calls/{callId} {
      // Allow any authenticated user to manage calls for now.
      // This is to debug the permission issues.
      allow read, write, create, delete: if request.auth.uid != null;

      match /messages/{messageId} {
        // Allow any authenticated user to read/write messages in any call.
        allow read, write: if request.auth.uid != null;
      }
    }
  }
}
